services:
  ministra:
    image: mutasimissa/ministra:5.6.10
    restart: always
    tty: true
    volumes:
      - ./storage:/data/storage
      - ./ministra.zip:/opt/ministra.zip
      - ./known_hosts:/root/.ssh/known_hosts
      - ./custom.ini:/home/ministra/ministra/www/stalker_portal/server/custom.ini
      - ./pixelna:/home/ministra/ministra/www/pixelna
      - ./scripts/init-ministra.sh:/opt/init-ministra.sh
    entrypoint: ["/bin/bash", "/opt/init-ministra.sh"]
    depends_on:
      - mysql
      - memcache
    environment:
      - MINISTRA_MYSQL_HOST=mysql
      - MINISTRA_MYSQL_PORT=3306
      - MINISTRA_MYSQL_USER=${MYSQL_USER}
      - MINISTRA_MYSQL_PASS=${MYSQL_PASSWORD}
      - MINISTRA_MYSQL_DBNAME=${MYSQL_DATABASE}
      - MINISTRA_MEMCACHE_HOST=memcache
    ports:
      - ${MINISTRA_PORT:-8080}:80
  mysql:
    image: mysql:5.7
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./mysql.conf.d:/etc/mysql/mysql.conf.d
      - ./scripts:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    restart: always
  memcache:
    image: memcached:latest
    restart: always
volumes:
  mysql_data:
  storage:
